<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.kvp.project.testutils.TestUtil2_Listeners"/>
</listeners>

  <test thread-count="5" name="End to end Framework Test">
    <classes>
   <!--   <class name="com.kvp.testcases.Android.TC1_EndToEnd"/>    
      <class name="com.kvp.testcases.Android.TC3_NoOrder"/>  -->
      <class name="com.kvp.testcases.Android.TC2_LoginScreenTest"/>  
      <class name="com.kvp.testcases.Android.TC6_AccountsFlow"/>  
      <class name="com.kvp.testcases.Android.TC7_AddNewAccounts"/>  
      <class name="com.kvp.testcases.Android.TC8_EditAccounts"/>   
      <class name="com.kvp.testcases.Android.Testtempresult"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
